* {
  --overlay-background: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100vh;
  background-color: #222222;
}

.map-overlay {
  position: absolute;
  display: flex;
  gap: 15px;
  align-items: center;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--overlay-background);
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  user-select: none;
}

.map-overlay h1 {
  font-size: 20px;
}

.map-overlay h2 {
  font-size: 16px;
}

.map-overlay i {
  font-size: 14px;
  color: #c5c5c5;
}

.leaflet-tooltip {
  background-color: var(--overlay-background);
  border: none;
  color: white;
  opacity: 1;
  box-shadow: none;
  border-radius: 0;
}

.leaflet-tooltip i {
  color: #c5c5c5;
}

.leaflet-tooltip-top:before {
  border-top-color: var(--overlay-background);
}
.leaflet-tooltip-bottom:before {
  border-bottom-color: var(--overlay-background);
}
.leaflet-tooltip-left:before {
  border-left-color: var(--overlay-background);
}
.leaflet-tooltip-right:before {
  border-right-color: var(--overlay-background);
}

@media (max-width: 768px) {
  .map-overlay {
    right: 10px;
  }

  .map-overlay h1 {
    font-size: 16px;
  }

  .map-overlay h2 {
    font-size: 14px;
  }

  .map-overlay i {
    font-size: 12px;
  }
}
